@using UserInterface.App_Start
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="underConstruction">oops ! We are still working on this screen !</div>
<div class="underConstructionImg"></div>
@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/jquery")


